html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  background-color: #121212;
}

body {
  position: relative;
  z-index: 0;
  min-height: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}
.text-align-center {
  text-align: center;
}
